* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/*Main.jsx*/
.main_wrap > h3 {
  margin: 30px auto;
  text-align: center;
}
/* App.css */
.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh; /* ⭐ 화면 높이 100% 고정 */
}

.main {
  flex: 1; /* 헤더/푸터 제외 남은 공간 다 차지 */
  overflow: auto; /* 페이지 전체 컨텐츠가 길어도 스크롤 허용 */
}
