/* 설명: src/App.css 스타일파일입니다. 필요한 스타일 주석을 추가하세요. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/*Main.jsx*/
.main_wrap > h3 {
  margin: 30px auto;
  text-align: center;
}
/* App.css */
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 콘텐츠 길이 따라 늘어나도록 수정 */
}

.main {
  flex: 1; /* 헤더/푸터 제외 남은 공간 다 차지 */
  overflow: auto; /* 메인 내부 스크롤 가능 (필요 시) */
  padding-top: 0; /* 헤더 여백 제거 */
  min-height: 0; /* 자식 컨텐츠 확장 시 푸터가 따라 내려가도록 */
  background-color: var(--bg-color);
}

.common_wrap {
  width: min(1580px, 100%);
  margin: 0 auto;
  padding: 0; /* 주변 여백 제거 */
  box-sizing: border-box;
  padding-top: 0;
}

