/* 설명: src/index.css 스타일파일입니다. 필요한 스타일 주석을 추가하세요. */
:root {
  --bg-color: #FBFFF5;
  --white: #ffffff;
  --border: #e9ecef;
  --text-main: #212529;
  --text-sub: #868e96;
  --primary: #333;
  --radius: 12px;
  --header-h: 150px;
  --footer-h: 150px;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: "Pretendard", sans-serif;
}
/* index.css 또는 App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* 라우트 별로 스크롤 허용 (메인 페이지는 내부에서 제한) */
}
